@charset "UTF-8";
.wrap {
  width: 1536px;
  height: 751px;
  background: url("../../assets/登录 (2).jpg") no-repeat;
  background-size: 1536px 751px;
  margin: 0 auto;
  position: relative;
}

.wrap .form {
  width: 384px;
  height: 302px;
  position: absolute;
  right: 190px;
  top: 225px;
  background: #fff;
  border-radius: 10px;
  padding: 5px 50px;
}

.wrap .form .title {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
